
.loginContainer {
    padding: 20px;
    top: -600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: teal;
    font-weight: 700;
    padding-bottom: 30px;
}

input {
    background-color: aliceblue;
}

inpbutton {
    top : -600px;
    border-radius: 5px;
    border: none;
    height: 30px;
    align-self: center;
    width: max-content;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.failure {
    color: red;
    font-size: 12px;
    text-align: center;
}

.loginCancel {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
