body {
    background-color: slateblue;
}

.registerContainer {
    padding: 20px;
    margin: auto;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

button {
    border-radius: 5px;
    border: none;
    height: 30px;
    align-self: center;
    width: auto;
}