.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: plum;
    font-size: 13px;
    margin: 3.2px 0;
    border-bottom: 0.6px solid plum;
}

.desc {
    font-size: 14px;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 10px;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: #a6a4a4;
}

.submitButton {
    border: None;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}